.fontBolding {
  font-weight: bold;
}

.header01 {
  border-bottom: solid;
  margin: 0px 20px;
}

.image01 {
	width: 100%;
	height: 100%;
}

.leftContainer {
  width: 590px;
  border-top: solid;
  margin-right: 75px;
}

.listItems {
	display: flex;
	flex-direction: row;
	border-bottom: solid 1px;
	padding-bottom: 20px;
	margin-right: 20px;
	margin-top: 15px;
	border-color: #e9eaed;
}

.listNum {
	width: auto;
	font-size: 35px;
	color: #4196a4;
	text-align: left;
	margin-right: 20px;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.midItems {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 520px;
}

.rightContainer {
	display: flex;
	flex-direction: column;
	width: 320px;
  background-color: #fff;
}

.rightItems {
  display: flex;
  justify-content: space-evenly;
  width: 435px;
  align-items: center;
}

.section {
	display: flex;
	justify-content: center;
	flex-direction: row;
  margin-top: 20px;
}

.title.commercial {
  background-color: #00b8e0;
}

.titleBox {
  display: flex;
  flex-direction: column;
  height: 190px;
  width: 985px;
  justify-content: space-around;
  align-self: center;
}

.title {
  background-color: #4196a4;
  padding: 15px;
}

.topContainer {
  display: flex;
  background-color: #00194c;
  flex-direction: row;
  margin-bottom: 20px;
  color: #ffffff;
  justify-content: space-around;
  height: 65px;
  align-items: center;
}

.topButton {
	width: 90px;
	height: 35px;
	display: flex;
	background-color: #ffffff;
	color: #00194c;
	border-radius: 20px;
	align-items: center;
	justify-content: center;
}

.topButton02 {
	border-top-style: solid;
	border-color: #ffffff;
	width: 90px;
	height: 30px;
	display: flex;
	align-items: center;
	border-style: groove;
	justify-content: center;
}

.uppercase {
  font-size: 20px;
}

.whiteText {
  color: #ffffff;
}